<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <h1>Bank admin portal </h1>
   <div class = "main">
    <div>
        <h2>Welcome to the bank admin portal</h2>
        <a href="/login"> Login </a>

        <h4>Not a user ?</h4>
        <a href="/registration"> Register </a>
    </div>
   </div>
</body>
</html>