<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <table class="account-table">
        <tr>  
          <th>Account no</th> 
          <th>Email</th>
          <th>Balance</th>
        </tr>
       
        <tr>
            <td><%=i.accNo%></td> 
            <td><%=i.email%></td>
            <td><%=i.balance%></td>
        </tr>
    </table>
</body>
</html>
